
    .btn-download, .btn-contato, .btn-mostrar  {
        display: inline-block;
        background-color: white; 
        color: black; 
        text-decoration: none; 
        padding: 10px 20px; 
        border-radius: 50px; 
        border-color: #A5B4FC; 
        font-size: 16px; 
        cursor: pointer; 
        transition: background-color 0.3s ease; 
        margin-top: 24px;
        margin-right: 39px;
    }
    
    .btn-download:hover, .btn-contato:hover, .btn-mostrar:hover {
        background-color: #A5B4FC; 
        color: white;
    }
    
    .btn-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 54px;
    }

    #buttons{
        padding-left: 560px;
    }
    
    
    